@media screen and (min-width: 428px) {
  .container {min-width: 428px;
  }
  .hero {
    width: 428px;
  }
.block {
    width: 396px;
    justify-content: center;
  }  .team-item {
    justify-content: center;
  }
  .title {
    font-size: 36px;
    width: 320px;
  }
.customers-list {
    justify-content: center;
  }
  .customers-item {
    max-width: 190px;
    height: 88px;}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
  .hero {
    max-width: 768px;
  }
  .section-item {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .block {
    max-width: 356px;
    flex-basis: calc((100%-16px) / 2);
  }

  .section-title {
    text-align: start;
  }
.title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
  .our-team > .container {
    width: 582px;
  }
  .window li {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-item {
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
    /* text-align: -webkit-match-parent; */
  }}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .our-team > .container {
    width: 1158px;
  }
  .window li {
    flex-basis: calc((100% - 72px) / 4);
  }
  .team-item {
    justify-content: center;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 48px;
  }
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
  }
  .section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .block {
    width: 264px;
    flex-basis: culc((100% - 72) / 4);
    margin-right: 24px;
  }
  .section-item {
    display: flex;
  }
  .section-item:last-child {
    margin-right: -24px;
  }
  .activity {
    display: flex;
    gap: 24px;
  }
  .activity:last-child {
    margin-right: -24px;
  }
  .acttivity-size {
    padding-bottom: 120px;
  }
/* .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
    text-align: -webkit-match-parent;
  } */}
