@media screen and (min-width: 428px) {
  .container {
    min-width: 428px;
  }
  .hero {
    width: 100%;
  }
  .block {
    width: 396px;
    justify-content: center;
  }

  /* .team-item {
    justify-content: center;
  } */
  .title {
    font-size: 36px;
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    min-width: 768px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
  .section-item {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    flex-direction: row;
  }
  .block {
    max-width: 356px;
    flex-basis: calc((100% - 16px) / 2);
  }
  .section-title {
    text-align: start;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
  .our-team > .container {
    width: 582px;
  }
  .window li {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-item {
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team > .container {
    width: 1158px;
  }
  .window li {
    flex-basis: calc((100% - 72px) / 4);
  }
  .team-item {
    justify-content: center;
  }

  .title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 48px;
  }
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
  }
  .section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  .block {
    width: 264px;
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .section-item {
    display: flex;
    max-width: 1128px;
    gap: 24px;
  }
  /* .section-item:last-child {
    margin-right: -24px;
  } */
  .activity {
    display: flex;
    width: 1128px;
    gap: 24px;
  }
  .activity:last-child {
    margin-right: -24px;
  }
  .acttivity-size {
    padding-bottom: 120px;
    display: flex;
  }

  .customers-list {
    display: flex;
    max-width: 1128px;
    /* gap: 24px; */
  }
  .customers-item {
    width: 168px;
    height: 88px;
    /* text-align: -webkit-match-parent; */
  }
}
